<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1 class="title">Italo Oliveira de Melo</h1>
      <div class="nomes">
        <button
          onclick="window.location.href='https://www.instagram.com/italo.oliveira13/'"
        >
          INSTAGRAM
        </button>
        <button onclick="window.location.href='https://wa.me/+5561995285229'">
          WHATSAPP
        </button>
        <button
          onclick="window.location.href='https://www.linkedin.com/in/italo-oliveira-de-melo-b24252206'"
        >
          LINKEDIN
        </button>
        <button onclick="window.location.href=''">Indefined</button>
        <button onclick="window.location.href=''">Indefined</button>
        <button onclick="window.location.href=''">Indefined</button>
      </div>
    </div>
  </body>
</html>
