/* You can add global styles to this file, and also import other style files */

body {
  background-color: #c8e1e0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  padding: 1.5em 20px 1.5em;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, rgb(158, 19, 112), rgb(1, 88, 100));
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  transition: background-color 0.5s;
}

button:hover {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@-webkit-keyframes pulse {
  0%,
  100% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
}

.nomes {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
